<%= link_to 'Upload File', uploads_path %>


<table>
  <tr>
    <th>CSV Files</th>
    <th></th>

  </tr>

  <% @csv_files.each do |file| %>
    <tr>
      <td><%= file.csvfile %></td>
      <td><%= link_to 'Export', 'csv_uploads/export_csv/' + file.id.to_s %></td>
      <td><%= link_to 'Delete', api_v1_csv_upload_path(file),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>