<h1>Upload The CSV file</h1>

<%= form_tag({controller:'api/v1/csv_uploads',:action => "create"}, :multipart => true) do %>

  <%= file_field_tag 'csvfile' %>
  <%= submit_tag( "Import" ) %>
<% end %>

